
 *{
    box-sizing: border-box;  
    margin: 0px;
    padding: 0px;
  } 
/**tamaño total
para todo tp para que no molesten las cajas mantenga el tamaño*/

/**tamaño letras Cuerpos de texto: 12px
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body.mercado{
  font-family: 'Roboto', sans-serif;
  background-color: var(--Gris-claro);
}
.mercado h5{
  font-size:12px;
}

.mercado p{
  font-size: 12px;
}

/**sacar el subrayado
*/
.mercado li{
  list-style: none;
  color: black;
  font-size: 12px;
} 
/**sacar lo itens/iconos
*/
.mercado a{
  text-decoration: none;
  color: black;
  /**cambia color de subrallado: text-decoration-color: black;
*/
}

.mercado main div.banner img{
  box-sizing: content-box;  
}
/**variables colores del tp {
}
*/
:root{
--Amarillo: #EAC926;
--Azul: #03264C;
--Celeste: #1259c3;
--Gris-oscuro: #666;
--Gris-claro: #ebebeb;
--Verde: #39b54a;
}

/**tamaño letras Titulares
*/
.mercado h2{
  font-size: 24px;
}

/**tamaño letras de los productos
*/
.mercado main p{
  font-size:18px;
}

.mercado main p.des{
  font-size:16px;
  color:var(--Verde);
}

input, button{ 
  border: none;
  padding:10px 4px; ;
}
/*para que cambie cursor  a manito*/
button:hover{
  cursor: pointer;
}
 
.btn-rojo{ 
  background-color: red;
}
 
.btn-celeste{ 
  background-color:var(--Celeste);
  transition:  background-color linear .3s ;
}

.btn-celeste:hover{ 
  background-color:#0022AA;
}

