
main{
  box-sizing: border-box ;
  background-color: var(--Gris-claro);
}

.mercado main   {
  width: 90%;
  box-sizing: content-box;
  margin:0  auto;
   
}
.mercado main .home section  {
  display: flex;
  flex-wrap: wrap;
  /*para tp posicionamiento fexbox
  justify-content: ; coloca las cosas a las vesquinas
  space-around
  */
  justify-content:space-between ;
}

.mercado main  .home section   h2{
  width: 100%;

}

/*    tarjeta del produc 
borde superior de 1 píxel*/
.mercado main .home section article{
  margin: 10px 0;
  background-color:white;
  transition: all ease .3s;/*efecto en minutos cuando pasa mouse*/
}
.mercado main .home section article:hover{ 
  box-shadow : 0px 0px 10px rgb( 100 , 100 , 100 );
}
.mercado  main .home section article  div.contDesArt{
  border-top:solid 1px var(--Gris-claro) ;
  padding: 15px;
  position: relative;/*para posicion absolud de alguna cosa que contiene*/
}

/*    carro   */ 
.mercado main section.home section article div.contDesArt div.carro i{
  border-radius: 50%;
  border: solid 1px var(--Verde);
  color: var(--Verde);
  background-color: white;

  padding: 5px;
  font-size: 16px ;
  display: block ;
  width: 30px ;
  position: absolute ; /*nece contenedor position: relatip;*/
  right: 20px ;
  top: -15px ;
/*para el hover*/
  transition: all ease .3s;

}
.mercado main section.home section article:hover  div.contDesArt div.carro i {
  box-shadow: 0 0 5px var(--Verde);
/**rotar una imagen*/
  transform: rotate(360deg);/**grados para rotacion*/
}


/*separacion precio y descuento*/
  
.mercado section.home section article div.contDesArt div.preDes{
font-size: 18px;
  display: flex;
}
.mercado section.home section article div.contDesArt div.preDes p{
  
 flex-grow: 0.3;/*para total del ancho del contenedor*/
}
.mercado section.home section article div.contDesArt div.preDes p.des{
 
  flex-grow: 0.7;
}
.mercado section.home section article div.contDesArt h4{
  height: 0;
  transition: all ease .3s;
  overflow: hidden;/*podemos navegar en una caja*/

  display: none;
  color: var(--Gris-oscuro);
  font-size:16px;
}

.mercado section.home section article:hover .contDesArt h4{
  height: 20px;
  margin-top: 10px;
  }

/* 
{}  -->*/



/*  
media Navegación
 en mobile la descripción del artículo no se visualizará.

 en tablets (ancho mínimo 361 px) 2 articulos
 en desktop (ancho mínimo 769 px) 4 articulos

 font-size:16px;
 
*/
    
@media(min-width:768px ){
                         
  .mercado section.home section article div.contDesArt h4{
    display:block;
  }
  .mercado .home section article  {  
     width: 40%;
  }

}
  
 /*  */
 @media(min-width: 1024px){
 
  .mercado .home section article  {
    width: 20%;
  }
}
 