


.home div.banner img{
     box-sizing: content-box;
     
}
.home  {
    width: 90%;
    box-sizing: content-box;
  margin: auto;
  background-color: white;
}

div.carro i{
  border-radius: 50px;
  border: solid 1px var(--Verde);
  color: var(--Verde);
background-color: white;
box-sizing: border-box;
padding: 12px;
}
  /* 
  background-position: center;


{}    -->*/
/*separacion entre art*/
article{

padding-top: 10px;
background-color: var(--Gris-claro);
}

/*}borde superior de 1 píxel, línea sólida y color
#ebebeb. gris claro
sus bordes en 15 píxeles*/
.home section article  div.contDesArt{
border-top:solid 1px var(--Gris-oscuro) ;
padding: 15px;
}

/*  
media Navegación
 en mobile la descripción del artículo no se visualizará.

 en tablets (ancho mínimo 361 px)
 en desktop (ancho mínimo 769 px)

 font-size:16px;
 
*/
   

  
@media(min-width:361px ){
                         
 h4{
 display:block;
   
    }
    .home section article  div.contDesArt{
box-shadow : 0px 0px 10px rgb ( 100 , 100 , 100 );
  }
}
  
  
 /* @media(min-width: 769px){
  
    .home main selection article{
      box-shadow : 0px 0px 10px rgb ( 100 , 100 , 100 );
        }
      }
  */