<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
   
   <!--linkear : en este caso css-->
    <link rel="stylesheet" href="/css/styles.css">
  <!--  hoja de estilos del tp sprit2-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
</head>

<body>
   <!--lo mas parecido al doc que nos da pg-->
<header >
       <div class="logo"> <img src="images/logo-mercado-liebre.svg"  width= "100%" alt=""></div>
       <section >
<!-- 
              <div  -->
                <div class="buscadorPrincipal"> 
                      <div class="box-form">
                        <input type="box-form" name= "buscar" id = "busca" class= buscar productos y marcas > </i>
                          <label for="busca"></label>
                  </div>  

                <div class="ckeck-all">
                            <div class="box-check">
                           <input type="checkbox" name= "lup" id ="lupa" class="fab fa-sistrix"></i>
                                  <label for="lupa"></label>
                </div></div> 
            
                <p class="mano"><i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjeta de credito</p>         

       </section>

       <nav class="links">
             <ul>
 <!--<a href="/">home</a>-->
                   <li><a href="/ofertas.html">Ofertas</a></li>
                  <li><a href="/tiendasOfi.html">Tiendas Oficiales</a></li>
                  <li><a href="/vender.html">Vender</a></li>
                  <li><a href="/ayuda.html">Ayuda</a></li>
              </ul>
         </nav>
        <nav class="links">
              <ul>
                     <li><a href="/creaTuCuenta.html">Crea tu cuenta  <i class="far fa-id-card"></i></a></li>
                   
                      <li><a href="/ingresa.html">Ingresa  <i class="fas fa-shopping-basket"></i></a></li>
                      <li><a href="/misCompras.html">Mis compras  <i class="fas fa-sign-in-alt"></i></a></li>
                 
             </ul>
          </nav>
  
    </div>
    <div class="burger-menu">
        <i class="fas fa-bars"></i></i>
        </div>
</header>
 <!--contenido-->
<main>
    
<div class="banner"> <img width= "374" src="images/img-home-banner.jpg" alt=""></div>
 
<section class= "ultVisita">
    <h2>Basado en tu última visita</h2>
    <article>
         <img width= "250" src="images/img-cafetera-moulinex.jpg" alt="">
         <p>$6.770</p>
         <p class="des">40% OFF</p>
         <h4>Cafetera Moulinex</h4>  
    </article>

    <article> 
        <img width= "270" src="images/img-macbook-pro-2019.jpg" alt="">
         <p>$230.000</p>
         <p class="des">20% OFF</p>
         <h4>MacBook Pro 2019</h4>   
    </article>
   
    <article>
         <img width= "250" src="images/img-samsung-galaxy-s10.jpg" alt="">
         <p>$70.500</p>
         <p class="des">10% OFF</p>
         <h4>Samsung Galaxy S10 </h4>    
    </article>

    <article>
         <img width= "270" src="images/img-tv-samsung-smart.jpg" alt="">
         <p>$23.200</p>
         <p>5% OFF</p>
         <h4> SmartTv Samsung 43"  </h4>
    </article>
</section>

<section class="ofertas">
    <h2>Seccion Ofertas</h2>
    <article class="">
         <div class="oferCafetera">   <img width= "270" src="images/img-cafetera-moulinex.jpg" alt=""></div>
         <p>$6.770</p>
         <p>40% OFF</p>
         <h4> Cafetera Moulinex</h4>
    </article>

    <article>
         <div class="oferMacbook"> <img width= "250" src="images/img-macbook-pro-2019.jpg" alt=""></div>
         <p>$230.000</p>
         <p>20% OFF</p>
         <h4> MacBook Pro 2019</h4>
    </article>

    <article>
         <div> <img width= "270" src="images/img-samsung-galaxy-s10.jpg" alt=""></div>
         <p>$70.500</p>
         <p>10% OFF</p>
         <h4> Samsung Galaxy S10</h4>
    </article>


    <article>
         <div class="oferTv"> <img width= "250" src="images/img-tv-samsung-smart.jpg" alt=""></div>
         <p>$23.200</p>
         <p>5% OFF</p>
         <h4> SmartTv Samsung 43"</h4>
    </article>

</section>    
</main>
 <!-- pie de pag--->
<footer>    
    <div class="footer">
   
      <section>
           <div class="icon"><i class="fas fa-credit-card"></i></div>
           <h5>Pagá con tarjeta o en efectivo</h5>
           <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
              puntos de pago. ¡Y siempre es seguro!</p>
      </section>
      <section>
           <div class="icon"><i class="fas fa-gift"></i></div>
           <h5> Envío gratis desde $ 2.500</h5> 
           <p class="tex">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
       </section>
       <section>
        <div class="icon"><i class="fas fa-user-shield"></i></div>
           <h5>Seguridad, de principio a fin</h5> 
           <p class="tex">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
       </section>
    </div>
    <p> Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</footer>
   </body>
</html>